.background-hero {
  background-image: url("/assets/images/gero_background.png");
  min-height: 100%;
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

.background-wave {
  min-height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  background-image: url("/assets/images/wave_top.png");
}

.background-about {
  background-image: linear-gradient(to bottom, #132924 60%, rgba(0, 0, 0, 0));
  min-height: 130%;
  position: relative;
  text-align: center;
  background-position: top;
  background-repeat: repeat-x;
  background-size: cover;
}

.background-utility {
  position: relative;
  text-align: center;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.background-footer {
  background-image: linear-gradient(to bottom, black 60%, rgba(0, 0, 0, 0)), url("/assets/images/background_space.png");
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (max-width: 768px) {
  .background-hero {
    height: auto;
    min-height: 100%;
  }

  .background-wave {
    background-size: 200%;
  }
}